<% was_validated = actor.errors.any? %>

<%= form_with(model: actor, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = actor.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% actor.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% bio_class = "form-control" %>
    <% bio_was_invalid = actor.errors.include?(:bio) %>

    <% if was_validated %>
      <% if bio_was_invalid %>
        <% bio_class << " is-invalid" %>
      <% else %>
        <% bio_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :bio %>
    <%= f.text_area :bio, class: bio_class, placeholder: "Enter bio" %>
    <% if bio_was_invalid %>
      <% actor.errors.full_messages_for(:bio).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% dob_class = "form-control" %>
    <% dob_was_invalid = actor.errors.include?(:dob) %>

    <% if was_validated %>
      <% if dob_was_invalid %>
        <% dob_class << " is-invalid" %>
      <% else %>
        <% dob_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dob %>
    <%= f.date_select :dob, class: dob_class, placeholder: "Enter dob" %>
    <% if dob_was_invalid %>
      <% actor.errors.full_messages_for(:dob).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% image_class = "form-control" %>
    <% image_was_invalid = actor.errors.include?(:image) %>

    <% if was_validated %>
      <% if image_was_invalid %>
        <% image_class << " is-invalid" %>
      <% else %>
        <% image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :image %>
    <%= f.text_field :image, class: image_class, placeholder: "Enter image" %>
    <% if image_was_invalid %>
      <% actor.errors.full_messages_for(:image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
