<%= form_with(model: @character, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.hidden_field :movie_id, value: @movie.id %>

  <div class="form-group">
    <%= f.label :actors_id %>

    <%= f.collection_select :actors_id, Actor.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create character", class: "btn btn-block btn-outline-secondary" %>
<% end %>
