<%= form_with(model: @movie, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :director_id, value: @director.id %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :year %>

    <%= f.text_field :year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :duration %>

    <%= f.text_field :duration, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>

    <%= f.text_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :numbers_of_characters %>

    <%= f.text_field :numbers_of_characters, class: "form-control" %>
  </div>

  <%= f.submit "Create movie", class: "btn btn-block btn-outline-secondary" %>
<% end %>
